<p id="notice"><%= notice %></p>

<h2>Djur/djurgrupp</h2>

<p>
  <strong>Namn:</strong>
  <%= @animal_group.name %>
</p>

<p>
  <strong>Antal:</strong>
  <%= @animal_group.amount %>
</p>

<%= link_to 'Ändra', edit_animal_group_path(@animal_group) %> |
<%= link_to 'Tillbaka', animal_groups_path %>
