<p id="notice"><%= notice %></p>

<h2>Utfodringar</h2>
<%= link_to '<button class="btn btn-success">Ny utfodring</button>'.html_safe, new_consumption_path %>
<br>
<% @consumptions.each do |consumption| %>
<% unit = @unit_batch_map.each do |ub|%>
<% ub.find consumption.batch %>
<% end %>
<div class="card" style="width: 500px; margin-top: 15px;">
  <div class="card-body">
    <h5 class="card-title"><%= consumption[:first_date] %> - <%= consumption[:last_date] %></h5>
    <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Mängd: </strong><%= consumption[:amount] %> <%= unit.last.last %></li>
        <li class="list-group-item"><strong>Batch: </strong><%= consumption[:batch] %></li>
        <li class="list-group-item"><strong>Djurgrupp: </strong><%= consumption[:animal_group] %></li>
      </ul>
      <br>
      <%= link_to '<button class="btn btn-info btn-sm">Visa</button>'.html_safe, consumption %>
      <%= link_to '<button class="btn btn-warning btn-sm">Ändra</button>'.html_safe, edit_consumption_path(consumption) %>
      <%= link_to '<button class="btn btn-danger btn-sm">Ta bort</button>'.html_safe, consumption, method: :delete, data: { confirm: 'Är du säker?' }%>
    </p>
  </div>
</div>
<% end %>
