<p id="notice"><%= notice %></p>

<h2>Utfodring</h2>

<p>
  <strong>Datum:</strong>
  <%= @consumption.date %>
</p>

<p>
  <strong>Mängd:</strong>
  <%= @consumption.amount %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @consumption.batch %>
</p>

<p>
  <strong>Djur/djurgrupp:</strong>
  <%= @consumption.animal_group %>
</p>

<%= link_to 'Ändra', edit_consumption_path(@consumption) %> |
<%= link_to 'Tillbaka', consumptions_path %>
