<p id="notice"><%= notice %></p>

<h2>Batchar</h2>
<%= link_to '<button class="btn btn-success">Ny batch</button>'.html_safe, new_batch_path %>
<br>
<% @batches.each do |batch| %>
<div class="card" style="width: 500px; margin-top: 15px;">
  <% batch.refillable ? refillable = 'Ja' : refillable = 'Nej' %>
  <% batch.unknownAmount ? unknownAmount = 'Ja' : unknownAmount = 'Nej' %>
  <div class="card-body">
    <h5 class="card-title">Namn: <%= batch.name %></h5>
    <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Mängd:</strong> <%= batch.amount %></li>
        <li class="list-group-item"><strong>Påfyllningsbar:</strong> <%= refillable %></li>
        <li class="list-group-item"><strong>Okänd mängd:</strong> <%= unknownAmount %></li>
        <li class="list-group-item"><strong>Enhet:</strong> <%= batch.unit %></li>
        <li class="list-group-item"><strong>Fodertyp:</strong> <%= batch.fodderType %></li>
      </ul>
      <br>
      <%= link_to '<button class="btn btn-info btn-sm">Visa</button>'.html_safe, batch %>
      <%= link_to '<button class="btn btn-warning btn-sm">Ändra</button>'.html_safe, edit_batch_path(batch) %>
      <%= link_to '<button class="btn btn-danger btn-sm">Ta bort</button>'.html_safe, batch, method: :delete, data: { confirm: 'Är du säker?' }%>
    </p>
  </div>
</div>
<% end %>
