<h1>Ny batch</h1>

<%= form_with scope: :batch, url: batches_path, local: true do |form| %>
<h2>Namn</h2>
<p>
  <%= form.text_field :name %>
</p>

<h2>Ok채nd m채ngd</h2>
<p>
  <%= form.check_box :unknownAmount %>
</p>

<h2>M채ngd</h2>
<p>
  <%= form.number_field :amount %>
</p>

<h2>P책fyllningsbar</h2>
<p>
  <%= form.check_box :refillable %>
</p>

<h2>Enhet</h2>
<% @units.each do |unit|%>
<p>
  <%= form.label unit, unit %>
  <%= form.radio_button :unit, unit %>
</p>
<% end %>

<h2>Fodertyp</h2>
<% @fodder_types.each do |fodder_type|%>
<p>
  <%= form.label fodder_type %>
  <%= form.radio_button :fodderType, fodder_type %>
</p>
<% end %>

<p>
  <%= form.submit 'Spara' %>
</p>
<% end %>

<%= link_to 'Tillbaka', batches_path %>
