<p id="notice"><%= notice %></p>

<h2>Batch</h2>

<p>
  <strong>Namn:</strong>
  <%= @batch.name %>
</p>

<p>
  <strong>Mängd:</strong>
  <%= @batch.amount %>
</p>

<p>
  <strong>Påfyllningsbar:</strong>
  <%= @batch.refillable %>
</p>

<p>
  <strong>Okänd mängd:</strong>
  <%= @batch.unknownAmount %>
</p>

<p>
  <strong>Enhet:</strong>
  <%= @batch.unit %>
</p>

<p>
  <strong>Fodertyp:</strong>
  <%= @batch.fodderType %>
</p>

<%= link_to 'Ändra', edit_batch_path(@batch) %> |
<%= link_to 'Tillbaka', batches_path %>
