<p id="notice"><%= notice %></p>

<h2>Batch</h2>
<% @batch.refillable ? refillable = 'Ja' : refillable = 'Nej' %>
<% @batch.unknownAmount ? unknownAmount = 'Ja' : unknownAmount = 'Nej' %>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Namn:</strong> <%= @batch.name %></li>
  <li class="list-group-item"><strong>Mängd:</strong> <%= @batch.amount %></li>
  <li class="list-group-item"><strong>Påfyllningsbar:</strong> <%= refillable %></li>
  <li class="list-group-item"><strong>Okänd mängd:</strong> <%= unknownAmount %></li>
  <li class="list-group-item"><strong>Enhet:</strong> <%= @batch.unit %></li>
  <li class="list-group-item"><strong>Fodertyp:</strong> <%= @batch.fodderType %></li>
</ul>
<br>
<%= link_to '<button class="btn btn-warning">Ändra</button>'.html_safe, edit_batch_path(@batch) %> <%= link_to '<button class="btn btn-secondary">Tillbaka</button>'.html_safe, batches_path %>
